arc
bar
bar3d
circle
cleardevice
clearviewport
closegraph
delay
detectgraph
drawpoly
ellipse
fillellipse
fillpoly
floodfill
getarccoords
getaspectratio
getbkcolor
getcolor
getdefaultpalette
getdrivername
getfillpattern
getfillsettings
getgraphmode
getimage
getlinesettings
getmaxcolor
getmaxmode
getmaxx
getmaxy
getmodename
getmoderange
getpalette
getpalettesize
gettextsettings
getviewsettings
getvisualpage
getx
gety
graphdefaults
grapherrormsg
graphresult
initgraph
installuserfont
line
linerel
lineto
moverel
moveto
outtext
outtextxy
pieslice
rectangle
restorecrtmode
sector
setactivepage
setallpalette
setaspectratio
setbkcolor
setcolor
setfillpattern
setfillstyle
setgraphbufsize
setgraphmode
setlinestyle
setpalette
settextjustify
settextstyle
setusercharsize
setviewport
setvisualpage
setwritemode
textheight
textwidth
